# Python artifacts
*.pyc
__pycache__/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exclude downloaded binaries for all roles
roles/*/files/darwin/
roles/*/files/linux/

# Build artifacts
*.tar.gz

# Molecule artifacts
.molecule/
.vagrant/

# Test caches
*.moltest_cache.json
*.cache
