{# Ansible managed: {{ ansible_managed }} #}
# Sourced by all Zsh shells to set the environment.

# Ensure user's local bin and cargo bin are in the PATH
if [[ -d "$HOME/.local/bin" ]]; then export PATH="$HOME/.local/bin:$PATH"; fi
if [[ -d "$HOME/.cargo/bin" ]]; then export PATH="$HOME/.cargo/bin:$PATH"; fi

# --- General Environment Variables ---
{% if user_setup_environment_variables is defined and user_setup_environment_variables %}
{% for var_name, var_value in user_setup_environment_variables.items() %}
export {{ var_name }}={{ var_value | to_json }}
{% endfor %}
{% endif %}