# Ansible managed: {{ ansible_managed }}
# Sheldon plugins configuration file
# For more information, see https://sheldon.cli.rs/

# Ansible managed: {{ ansible_managed }}
# Sheldon plugins configuration
# Managed by eddiedunn.terminal Ansible collection

# For more information, see https://sheldon.cli.rs/

# This line is now fixed to correctly determine the shell from Ansible variables.
shell = "{{ 'zsh' if 'zsh' in tool_installer_shells else 'bash' }}"

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["source"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["fpath"]

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["source"]

# FZF tab completion plugin, for Zsh only.
[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
apply = ["source"]


# You can add more plugins here
# [plugins.my-custom-plugin]
# local = "~/.config/my-plugin"
